
.swiper{
    height: 300px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}
.swiper-wrapper{
    height: 300px;
    width: 600px;
}
body{
     background: #de6161;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2657eb, #de6161);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2657eb, #de6161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
;
background-size: cover;
min-height: 100vh;
background-repeat: no-repeat;
}