
:root{
    --bluecolor: blue;
    --greencolor: green;
    --redcolor: #ff0000;
    background: aqua;
}
.d-flex{
    display: flex;
}
.bg-primary{
    color: var(--redcolor);
    background: var(--bluecolor);
    margin: 10px;
    padding: 50px;
}
.text-white{
    color: black;
}
.w-50{
    width: 300px;
    height: 300px;
    border-radius: 40px;
}
.bg-secondary{
    color: var(--redcolor);
    background: green;
    margin: 10px;
    padding: 50px;
}

.text-white{
    color: black;

}
.w-50{
     width: 200px;
    height: 200px;
    border-radius: 10px;

}
.bg-primary:hover{
    background: #ff0000;
    cursor: pointer;
}
.btn-main{
    color:black;
    background: blue;
    text-transform: capitalize;
    letter-spacing: 2px;
    transition: all 0.3s ease;
    cursor: pointer;
    height: 40px;
    width: 50px;
}
.btn-main:hover{
    background: green;
    border: var(--bluecolor);
}
    